input.search-suggest {margin-bottom:0;}
div.search-popup{background: #ffffff;
    box-shadow: 0 10px 15px 0 rgba(0, 0, 0, 0.2) ;padding: 4px 0;margin: -2px 0 0;border-radius: 0 0 3px 3px; border:1px solid #157fc4;}
div.search-popup-row, div.search-popup-row-active{position: relative; padding: 4px 15px;margin: 0px;cursor: hand;cursor: pointer;}
div.search-popup-row-active{color:#157fc4;}
div.search-popup-el-name, div.search-popup-el-cnt{position: relative; margin:0px;padding:0px;text-align:left;}
div.search-popup-el-cnt{text-align:right; float:right; color:#aaa; font-size:76%;}